<%= form_for(mail) do |f| %>
  <% if mail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mail.errors.count, "error") %> prohibited this mail from being saved:</h2>

      <ul>
      <% mail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :size %>
    <%= f.text_field :size %>
  </div>

  <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Size
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Envelope</a></li>
    <li><a href="#">Flyer</a></li>
    <li><a href="#">Newspaper</a></li>
    <li role="separator" class="divider"></li>
  </ul>
</div>
    <%= f.submit %>
  </div>
<% end %>
