<%= form_for(mail) do |f| %>
  <% if mail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mail.errors.count, "error") %> prohibited this mail from being saved:</h2>

      <ul>
      <% mail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

    <%= f.label :company,  class: 'form-control' %>
    <%= f.text_field :company, required: true,  class: 'form-control', id: "companies", value: @mail.company.nil? ? "" : @mail.company.name %>

    <datalist id="companies">
      <% @companies.each { |company| %>
      <option value="<%= company.name %>" />
      <% } %>
    </datalist>
    </div>
  </div>
    <br> </br>
    <%= f.select :size, ['Newspaper', 'Envelope', 'Letter'], class: 'form-control' %>

    <!-- <# f.label :size %> -->
    <!-- <# f.text_field :size %> -->
  </div>

  <!-- <select class="form-control" name="mails[size]">
    <option>Newspaper</option>
    <option>Envelope</option>
    <option>Letter</option>
  </select> -->



  <%= f.submit 'Submit', :class => 'btn btn-default' %>
<br> </br>
</form>
<% end %>
