<p id="notice"><%= notice %></p>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<h1> Top Companies sending Junk Mail </h1>
<%= bar_chart @mails.group(:company_id).count %>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Company</th>
      <th>Size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mails.each do |mail| %>
      <tr>
        <td><%= mail.company.name %></td>
        <td><%= mail.size %></td>
        <td><%= link_to 'Show', mail %></td>
        <td><%= link_to 'Edit', edit_mail_path(mail) %></td>
        <td><%= link_to 'Destroy', mail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mail', new_mail_path %>
